.hero-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Permanent Marker";
}

.hero-name {
  font-size: 3rem;
  opacity: 0;
  animation: appear-down 1s ease-in-out forwards;
}

.hero-title {
  font-size: 2rem;
  opacity: 0;
  animation: appear-down 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.hero-img {
  height: 8rem;
  opacity: 0;
  animation: appear-up 1s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes appear-down {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes appear-up {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@media (min-width: 800px) {
  .hero-name {
    font-size: 8rem;
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-img {
    height: 12rem;
  }
}
