@import "hero.css";
@import "story.css";
@import "learning.css";
@import "projects.css";
@import "footer.css";

body {
  margin: 0;
  font-family: "Onest";
  background: #FFEDE1;
  color: #333533;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

.page-section {
  padding: 0 0.5rem;
  margin-bottom: 6rem;
  transition: all 0.9s cubic-bezier(0.17, 0.55, 0.55, 1) 0.3s;
}

.section-hidden {
  opacity: 0;
  transform: translateY(4rem);
}

.section-header {
  font-family: "Permanent Marker";
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

@media (min-width: 800px) {
  .page-section {
    padding: 0 4rem;
  }

  .section-header {
    font-size: 2rem;
    margin-left: 0;
  }
}


/*
fonts
#5E565A
#474954
#242423
#333533

whites
#FDFFFC
#E7ECEF
#FEF5EF
#F9FBF2


creams
#FFEFD3
#FFEED6
#ECE4B7
#F7ECE1

Pinks
#E4C5AF
#EABDA8
#EFD0CA
#FFCDBC
#FCC8B2
#FFEDE1

#FBD1A2
#F5D0C5
#FFC49B
#E8985E
#FFB86F
#E5B181
#DE6B48
#FF9B85
#EFA48B
#FF9B85
*/





/*
#E4C5AF
#EABDA8 *
#EFD0CA
#FFCDBC
#FCC8B2 *
#FFEDE1

#FBD1A2
#F5D0C5 *
#FFC49B
#E8985E
#FFB86F
#E5B181
#DE6B48
#FF9B85
#EFA48B *
#FF9B85
*/
