.learning-section {
  margin-bottom: 4rem;
}

.learning-circles {
  font-family: "Permanent Marker";
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
  max-width: 32rem;
  margin: 0 auto;
}

.learning-circle {
  border: 2px solid #333533;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  transition: transform 1s ease-in-out;
}

.learning-cert {
  z-index: 10;
  border-radius: 16px;
  position: fixed;
  max-width: 90%;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#javascript {
  background: #FFE0D7;
}

#typescript {
  background: #FFD4CC;
}

#css {
  background: #FFC8C0;
}

#tailwind {
  background: #FFBDB5;
}

#react {
  background: #FFB3AE;
}

#sql {
  background: #FFA7A4;
}

.learning-circle:hover {
  cursor: pointer;
  transform: rotateY(360deg);
}

@media (min-width: 800px) {
  .learning-circles {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    max-width: 100%;
  }

  .learning-circle {
    height: 6rem;
    width: 6rem;
  }

  .learning-cert {
    max-width: 60%;
  }
}

@media (min-width: 1200px) {
  .learning-circle {
    height: 8rem;
    width: 8rem;
  }
}
